
<div class="image">
  <img src="assets/img/videos_bild.png">
  </div>


    <div class="videos">
      <video controls (click)="toggleVideo()" #videoPlayer>
          <source src="https://rr2---sn-i5h7lnls.c.drive.google.com/videoplayback?expire=1659451006&ei=Pv7oYuuzLNukpb0PqaCf6AU&ip=91.249.84.32&cp=QVRKQUVfUFBOR1hPOmp0bjZoeXdTdXZaUEpPRnlPZ2pBNDgyeFRyb09ZMDg5STAtMnRXaFFUNWg&id=3834fec320c93e8c&itag=22&source=webdrive&requiressl=yes&mh=BH&mm=32&mn=sn-i5h7lnls&ms=su&mv=u&mvi=2&pl=24&ttl=transient&susc=dr&driveid=1Fu02a-pRkzi0MCYxdmdC42vpo-Ha0SVX&app=explorer&mime=video/mp4&vprv=1&prv=1&dur=14.048&lmt=1658539675970145&mt=1659435803&subapp=DRIVE_WEB_FILE_VIEWER&txp=0011224&sparams=expire,ei,ip,cp,id,itag,source,requiressl,ttl,susc,driveid,app,mime,vprv,prv,dur,lmt&sig=AOq0QJ8wRAIgFMA1GSqn_SRK2D1FZkQcnq9adrVJbS4lQrxpSWrNzsYCIASRHkP3xtA_D9S1CmMS2mCPefJU1a8qD6wwYb-gvfJI&lsparams=mh,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRgIhAKjVK8nBHhl14F9XlEKnwoSdVJpSSP0F-p3tX8_kBv_zAiEA88-KZIFNx48sJfDwX6OEGIJYreaY5uc9dzQ-yIw2bKA=&cpn=46QmkHOr1xkfYwZs&c=WEB_EMBEDDED_PLAYER&cver=1.20220731.00.00" type="video/mp4"/>
          Browser not supported
      </video>
    </div>
    
    <div class="videos">
      <video controls (click)="toggleVideo()" #videoPlayer>
        <source src="https://rr5---sn-i5h7lner.c.drive.google.com/videoplayback?expire=1659451601&ei=kQDpYs7_DsrxwtQPrKKhgAk&ip=91.249.84.32&cp=QVRKQUVfUFZOQlhPOmp0bjZueXJTdXZaUEpPTHlKZ2pBNDgyeFpyak9ZMDg5STAtMm9XaFFUNWg&id=bb89ae87b27e9a13&itag=22&source=webdrive&requiressl=yes&mh=PV&mm=32&mn=sn-i5h7lner&ms=su&mv=m&mvi=5&pl=24&ttl=transient&susc=dr&driveid=1UhFZPpNbhzodSFtzAo3SsQmGkodGBi3_&app=explorer&mime=video/mp4&vprv=1&prv=1&dur=70.263&lmt=1658547596226859&mt=1659436832&subapp=DRIVE_WEB_FILE_VIEWER&txp=0011224&sparams=expire,ei,ip,cp,id,itag,source,requiressl,ttl,susc,driveid,app,mime,vprv,prv,dur,lmt&sig=AOq0QJ8wRQIhAOjg9W-uGWlNg-af65P9U6zgPnx3wv7p6NxRhaIKP_-BAiBqoFkvd03Jjk08F6mOxq8aYzAO77bt4Oec-e9PuMQ5_w==&lsparams=mh,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRQIhAIjBStunaW4MA262RhUqEJCBQ3leD0aDm5a8LtG1NX0tAiB8D5I35FWN2blQ0fO3b_h2698ayn-4ODhdygz23HRcUw==&cpn=N_eGKH9TQbZk3V3l&c=WEB_EMBEDDED_PLAYER&cver=1.20220731.00.00" type="video/mp4"/>
        Browser not supported
      </video>
    </div>
    
    <div class="videos">
      <video controls (click)="toggleVideo()" #videoPlayer>
        <source src="https://rr3---sn-i5h7lnll.c.drive.google.com/videoplayback?expire=1659371499&ei=q8fnYubHHI381bYPu9al6As&ip=91.249.84.32&cp=QVRKQURfUFRXSlhPOkZJSFUwakFrWHlkOFVtM0RsWHk1LTRGNmNTbm40eFN6bm01bGdhSVZmV0Q&id=de00b66c2ffc699c&itag=22&source=webdrive&requiressl=yes&mh=pv&mm=32&mn=sn-i5h7lnll&ms=su&mv=u&mvi=3&pl=24&ttl=transient&susc=dr&driveid=1RUKLQcqF-T5AhpbgApk4CxjH_RzDeoPo&app=explorer&mime=video/mp4&vprv=1&prv=1&dur=8.707&lmt=1658553927138767&mt=1659355989&subapp=DRIVE_WEB_FILE_VIEWER&txp=0011224&sparams=expire,ei,ip,cp,id,itag,source,requiressl,ttl,susc,driveid,app,mime,vprv,prv,dur,lmt&sig=AOq0QJ8wRgIhAJpKM99WG4pp5zKMZM4TdDFReWg2Kgmm7jvOjEcQjRFEAiEAy_TiWMkyAI-pzs54sakr35xr0rDNNAbzqkKafGJdWaA=&lsparams=mh,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRQIhAKqJ0aEJY0nneZm8cakwbVRfD2EcjDvjLbmZsEwoLLmTAiAMFqOcT3yTbdAZoznGZvgIK3VsPITBK0XqpLNFFV1ddw==&cpn=kSXOgR5uKfSPbKId&c=WEB_EMBEDDED_PLAYER&cver=1.20220727.01.00" type="video/mp4"/>
        Browser not supported
      </video>
  </div>
    


